/* project component CSS resource */

h2 {
    font-family: Georgia;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    text-shadow: 0 1px #daf8d7;
}


.boards {
    padding-bottom: 30px;
}

.boards h3 {
    padding: 10px 10px 10px;
    font-size: 20px;
    line-height: 22px;
    color: #444;
    font-family: Arial;
    font-weight: normal;
}

.boards ul li {
    border-top: 1px solid #eaeaea;
    padding: 0 10px;
    line-height: 30px;
}
.boards ul li.last {
    border-bottom: 1px solid #eaeaea;
}

.boards ul li a {
    text-decoration: none;
    color: #2b2b2b;
}

.boards ul li.hover {
   background-color: #f4f4f4;
}

.boards ul li.board_form {
    border: none;
    padding: 10px;
}

.boards .board_form {
    display: none;
}

.board_form input[type=text] {
    width: 300px;
}

.board_form input[type=submit] {
    float: right;
    padding: 3px;
}

.btn_remove {
    display: none;
    margin: 4px 0;
    border: 1px solid #aaa;
    line-height: 14px;
    width: 12px;
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    padding: 0 2px 3px;
    text-decoration: none;
}
.btn_remove:hover {
    background-color: #f4f4f4;
}

.boards ul li.hover .btn_remove {
    float: right;
    display: block;
}

.boards p {
    padding: 0 10px 20px;
    font-size: 14px;
}
.boards a.add {
    line-height: 16px;
    padding: 11px;
    float: right;text-decoration: none; font-weight: bold; font-size: 11px;
}