/* note component CSS resource */

.note {
    display: block;
    color: #141414;
    font-family: SFCartoonistHandRegular, Comic sans;
    float: left;
    font-size: 14px;
    padding: 0 0 3px;
	background: rgb(0.10, 0.10, 0.10);
	background: rgba(0, 0, 0, 0.10);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000010, endColorstr=#00000010);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000010, endColorstr=#00000010)";

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.note.hover {
    /*border: 1px solid #d0d0d0;
    margin: 0 3px 3px 0;*/
    cursor: move;
}

.note textarea {
    position: relative;
    margin: -1px auto auto -1px;
    color: #141414;
    width: 107px;
    height: 59px;
    background: transparent;
}

.note.ui-state-disabled {
    opacity: 1;
    filter:Alpha(Opacity=100);
}
.col.ui-state-disabled {
    opacity: 1;
    filter:Alpha(Opacity=100); 
}

.note .estimate {
    float: right;
    padding: 0 10px 5px 0;
    cursor: default;
    color: #777;
}
.note .estimate span {
    width: 30px;
    padding: 1px;
}

.note .estimate input, .note textarea {
    background: transparent;
    padding: 0;
    font-family: SFCartoonistHandRegular, Comic sans;
    font-size: 14px;
    border: 1px solid #aaa;
}

.note .estimate input {
    color: #777;
    width: 30px;
    text-align: right;
}

.note .estimate input:disabled {
    border: none;
    padding: 1px;
}
.note .inner, .stack {
    padding: 10px;
    width: 105px;
    min-height: 60px;
    background-color: #f3f2b1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f3c6', endColorstr='#f6f0a7');
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f3c6), to(#f6f0a7));
    background: -moz-linear-gradient(top,  #f7f3c6,  #f6f0a7);
}

.stack {
    margin: 10px 0 0;
    border-right: 4px solid #e7e6a8;
    border-bottom: 7px solid #bfbe8f;
    float: left;
    padding: 0;
    width: auto;
    height: auto;
}

.stack .note {
    padding: 0;
}

.note .assignee {
    color: #777;
    float: left;
    font-size: 14px;
    padding: 0 0 10px 10px
}

.note .inner.has_bottom {
    padding-bottom: 30px;
}

.note .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
